<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>Django Templates</title>
    </head>
  
    <body>
        <h1>USER NOTE</h1>
        <span>{{ msg }}</span>
        <form method="POST" action="{% url 'user.note.add' %}">
            {% csrf_token %}
            {{ form.as_p }}
                <input type="submit" value="SAVE">
        </form>
        <h1>Data</h1>
        <p>{{ data.note_title }}</p>
        <p>{{ data.note_description }}</p>
        <p>{{ data.note_added_at }}</p>
        <div>

        </div>
    </body>
</html>